body {
	font-family: Arial, sans-serif;
	color: black;
}
.card {
	margin-bottom: 20px;
}
h1 {
background: rgb(92, 0, 0);
margin-top: 20px;
padding: 30px 100px;
color: #ffffff;

}

h2{
background: rgba(134, 13, 13, 0.774);
margin-top: 20px;
padding: 30px 100px;
color: white;

}
body{
	background-image: url(../img/fondo2.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

/* Footer styles */
.footer {
background-color: #5a0707;
padding: 5px;
text-align: center;
color: white;
}


.footer .icon:hover {
color: #ff6347;
}

/* Responsive footer */
@media (max-width: 600px) {
.footer {
padding: 10px;
font-size: 1000px;
}

.footer .icon {
padding: 5px;
}
}